
.header__top__line {
    background-color: var(--background-color-in-top-line);
    width: 1400px;
    height:50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    text-align: center;
    justify-content: space-around;
}
@media (max-width:991px){
    .header__top__line {
        display: none;
    }
}
.text__links__in__header__top__line  a {
text-decoration: none;
color: var(--text-color-in-top-line);
}

.info__in__header__top__line {
    display: flex;
    flex-direction: row;
    width: 40%;
    padding-left: 50px;
}
.info__period__returns {
    text-align: center;
    align-items: center;
   justify-content: space-around;
    color:var(--text-color-in-top-line);
    
 
    
}

.text__links__in__header__top__line {
    align-items: center;
    text-align: center;
    justify-content: space-around;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.number__tel__text__links__in__header__top__line {
    padding-left: 40px;
    padding-right: 50px;
    
}

.header_nav_fuction {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--text-color-nav-header);
    height: 100px;;
    text-align: center;
    align-items: center;
   
}

.header_nav_fuction_logotype > img {
    padding-left: 50px;
   
}

.img__logo__header__template__site {
    display: block;
    max-width: 100%;
    padding-right: 20px;
   width: 230px;
   height: 70px;;
   text-align: center;
   align-items: center;
   
    
}
