@media (min-width:991px){
.header__top__line {
    display: none;
    background-color: var(--background-color-in-top-line);
    width: 1400px;
    height:50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    text-align: center;
    justify-content: space-around;
   
}
}
.text__links__in__header__top__line  a {
text-decoration: none;
color: var(--text-color-in-top-line);
}

.info__in__header__top__line {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-left: 50px;
}
.info__period__returns {
   justify-content: space-around;
    color:var(--text-color-in-top-line);
 
    
}

.text__links__in__header__top__line {
    align-items: center;
    text-align: center;
    justify-content: space-around;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.number__tel__text__links__in__header__top__line {
    padding-left: 40px;
    padding-right: 50px;
    
}

