
.header__top__line {
    background-color: var(--background-color-in-top-line);
    width: 1400px;
    height:50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center
    text-align: center;
    justify-content: space-around;
   
}

.text__links__in__header__top__line  a {
text-decoration: none;
color: var(--text-color-in-top-line);
}

.info__in__header__top__line {
    padding-left: 150px;
    align-items: flex-start;
    text-align:center
    background-color: var(--background-color-in-top-line);
    color:var(--text-color-in-top-line);
    width: 50%;
    
}

.text__links__in__header__top__line {
    align-items: center;
    text-align: center;
    justify-content: space-around;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.number__tel__text__links__in__header__top__line {
    padding-left: 20px;
    padding-right: 150px;
    
}
